body{
    font-family: 'Roboto Condensed', sans-serif;
}
.top-navbar{
    background-color: #2c3e50;
    padding: 30px 0px;
    width: 100%;
    position: fixed;
}
.top-navbar .navbar-nav{
    gap: 25px;
}
.top-navbar .navbar-nav .nav-item{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.top-navbar .navbar-nav .nav-item a{
    color: #ffffff;
}
.top-navbar .navbar-nav .nav-item a:hover{
    color: #1abc9c;
}
.hero-section{
    background-color: #1abc9c;
    padding-top: 100px;
    height: 100vh;
}
.hero-content{
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
    text-transform: uppercase;
}
.hero-section i{
    font-size: 48px;
}

.portfolio-section{
    padding: 80px 0px;
}

.portfolio-box{
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    img{
        border-radius: 10px;
    }

    .overlay{
        display: none;
        background-color: #1abc9c;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
        
        .bi{
            font-size: 48px;
            color: #fff;
        }
    }
}

.portfolio-box:hover{
    .overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }
}

.box-background{
    height: 285px;
    border-radius: 10px;
    background-position: center center !important;
    background-size: cover !important;
}

.box-red{
    background-color: rgb(254, 106, 106);
}
.box-tosca{
    background-color: rgb(2, 159, 170);
}
.box-black{
    background-color: rgb(41, 41, 41);
}
.box-blue{
    background-color: rgb(34, 213, 254);
}
.box-dark-blue{
    background-color: rgb(3, 71, 123);
}
.box-brown{
    background-color: rgb(177, 142, 87);
}